
.blogCardImageContainer::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 75px;
    bottom: 0;
    z-index: 10;
    background-color:  #eff2f7;
    clip-path: polygon(80.83% 74.68%, 0% 0%, -2.22% 149.33%, 101.95% 136.67%, 101.95% 0%);
}
