.projects-section{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    margin-top: 100px;
}
.project-container{
    margin-top: 40px;
    display: flex;
    width: 92%;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 50px;
}
.load-more-button{
 width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 20px;

}
.load-more-button button{
    padding: 10px 30px;
    border:none;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
    background-color:var(--color-contact-message-text);
    color:var( --color-bg-contact) ;

}