.select {
    @apply relative min-w-48 w-fit cursor-pointer;
    position: relative;
    display: inline-block;
    color: white;
  }
  
  .selected {
    @apply bg-[#2a2f3b] flex items-center justify-between px-3 py-2;
    border-radius: 5px;
  }
  
  .arrow {
    @apply h-2.5 w-6 fill-white;
    transition: transform 300ms ease;
  }
  
  .options {
    @apply absolute flex flex-col bg-white shadow-md w-full left-0 mt-2 opacity-0 invisible;
    transition: opacity 300ms ease, visibility 0s linear 300ms;
    z-index: 50;
    padding: 5px;
    border-radius: 5px;
  }
  
  .select:hover > .options {
    @apply opacity-100 visible;
    transition-delay: 0s;
  }
  
  .select:hover > .selected .arrow {
    transform: rotate(90deg);
  }
  
  .option {
    @apply p-2 rounded-md text-dark-primary inline-block py-1 text-left text-lg w-full;
  }
  
  .options input[type="radio"] {
    @apply hidden;
  }
  