
.certification-card {
    position: relative;
    /* Add other styles as needed */
  }
  
  .certification-image {
    cursor: grab;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .certification-image img {
    transition: 0.4s ease-in-out;
    width: 200px;
    height: 150px;
  }
  
  .certification-image img:hover {
    transform: scale(1.1);
  }
  
  @media screen and (max-width: 768px) {
    .certification-image img {
      width: 100%;
    }
  }
  

  .zoomable-image {
    display: block;
    max-width: 100%;
    height: auto;
    transition: transform 0.2s ease-in-out;
  }
  
  .zoomable-image:hover {
    transform: scale(1.05);
  }
  