.popup-overlay {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1300;
    scale: 0;
    transition: all 0.3s ease-in-out;
}

.popup-overlay.open {
    scale: 1;
}

.popup-content {
    display: flex;
    background-color: #fff;
    height: 80%;
    width: 80%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;

}

.close-button {
    position: absolute;
    right: 10px;
    top: 5px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    transform: rotate(45deg);
    z-index: 1300;
}

.popup-grid {
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    column-gap: 20px;
    padding: 5px;
}

.popup-left-section {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.popup-left-section img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.popup-right-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.popup-text h1{
    font-size: 30px;
    font-family: "Dosis";
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.popup-text h1:hover{
    color: var(--color-primary);

}

.popup-text p {
    font-size: 14px;
    letter-spacing: 3px;
    line-height: 2rem;

}

.popup-buttons {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    padding: 0 20px;
    padding-bottom: 20px;
    justify-content: space-between;

}

.popup-buttons a {

    font-size: 20px;
}

@media screen and (max-width:1200px) {

    .popup-grid {
        display: flex;
        flex-direction: column;
    }

    .popup-left-section {
        flex: 1;
        margin-top: 50px;
    }

    .popup-right-section {
        flex: 1;
    }

    .popup-content {

        height: 70%;
    }

}