.counter-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;


}

.counter-item:first-child {
    border-right: 1px solid var(--color-silver);
    border-bottom: 1px solid var(--color-silver);
}

.counter-item:nth-child(2) {
    border-bottom: 1px solid var(--color-silver);
}

.counter-item:nth-child(3) {
    border-right: 1px solid var(--color-silver);
}

.counter-item h1 {
    font-size: 56px;
    font-family: "Dosis";
    letter-spacing: 15px;
    font-weight: 900;
   display: flex;
   flex-direction:row;
}

.counter-item p {
    font-size: 18px;
    color: var(--color-primary);
    font-family: 'Inter';
    font-weight: 600;
}

@media screen and (max-width: 576px) {
    .counter-item {
        padding: 20px;
    }

    .counter-item:first-child {
        border: none;
        border-bottom: 1px solid var(--color-silver);
    }

    .counter-item:nth-child(3) {
        border: none;
        border-bottom: 1px solid var(--color-silver);
    }

}