.hero-section {
    top: -100px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 100;
    color: var(--color-text-primary);
}



.hero-section::before {
    position: absolute;
    content: "";
    height: 50px;
    width: 100%;
    background-color: var(--color-bg-primary);
    bottom: -50px;
    transform: skewY(-3deg);
}

.hero-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: 50px;
}

.hero-text-container p {
    display: flex;
    column-gap: 20px;
    text-align: center;
    color: var(--color-text-primary);

}

.hero-text-container p:first-child {
    font-size: 24px;
    font-weight: 500;
    color: var(--color-text-primary);
}

.hero-text-container h1 {
    font-size: 120px;
    font-weight: 800;
    font-family: 'Dosis';
    margin: 15px 0;
    color: var(--color-text-primary);
}

.hero-text-container p:nth-child(3) {
    display: flex;
    column-gap: 20px;
    font-size: 25px;
    margin-bottom: 60px;
    color: var(--color-text-primary);
}

.hero-text-container a {
    padding: 18px 25px;
    background-color: var(--color-primary);
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    border-radius: 10px;
}

@media screen and (max-width: 992px) {
    .hero-text-container h1 {
        font-size: 80px;
    }
}


@media screen and (max-width: 768px) {
    .hero-text-container h1 {
        font-size: 50px;
    }
}


@media screen and (max-width: 576px) {
    .hero-text-container p:nth-child(3) {
        font-size: 18px;
        column-gap: 10px;
    }


    .hero-text-container {
        top: 30px;
    }
}


@media screen and (max-width: 380px) {
    .hero-text-container h1 {
        font-size: 40px;
    }

    .hero-text-container p:first-child {
        font-size: 18px;
    }

    .hero-text-container p:nth-child(3) {
        font-size: 20px;
    }

    .hero-text-container a {
        padding: 18px 10px;
    }

}