.hero-section {
    top: -100px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 100;
    color: var(--color-text-primary);
}



.hero-section::before {
    position: absolute;
    content: "";
    height: 50px;
    width: 100%;
    background-color: var(--color-bg-primary);
    bottom: -50px;
    transform: skewY(-3deg);
}

.hero-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 40%;
    width: 100%;
    height:fit-content;
    transform:translate(-50% ,-50%);
}

.hero-text-container p {
    display: flex;
    column-gap: 20px;
    text-align: center;
    color: var(--color-text-primary);
    transition:0.3s all ease-in-out;
    font-size: 1rem;
    cursor: default;


}
.hero-text-container p:hover{
    font-size: 0.9rem;
    
}

.hero-text-container p:first-child {
    font-size: 24px;
    font-weight: 500;
    color: var(--color-text-primary);
}

/* .hero-text-container h1 {
    font-size: 120px;
    font-weight: 800;
    font-family: 'Dosis';
    margin: 15px 0;
    color: var(--color-text-primary);

    text-shadow: 1px 1px 1px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191,
    1px 6px 1px #919191,
    1px 7px 1px #919191,
    1px 8px 1px #919191,
    1px 9px 1px #919191,
    1px 10px 1px #919191,
1px 18px 6px rgba(16,16,16,0.4),
1px 22px 10px rgba(16,16,16,0.2),
1px 25px 35px rgba(16,16,16,0.2),
1px 30px 60px rgba(16,16,16,0.4);
} */



.animated-text-container {
    width: 9.25em;
    height: 1.15em;
    font-size: 4rem;
    font-family: sans-serif;
    position: relative;
  }
  
  .animated-text-container div {
    position: absolute;
    left: 0;
    text-transform: uppercase;
    width: 100%;
    display: block;
    text-align: center;
  }
  
  .animated-text-upper {
    top: 0;
    height: 52.5%;
    color:  var(--color-text-primary);
    overflow: hidden;
    z-index: 3;
    animation: moveUp 1.5s ease-in-out 1;
    background-color: var(--color-bg-primary);
  }
  
  .animated-text-lower {
    bottom: 0;
    height: 100%;
    background: linear-gradient(180deg, var(--color-bg-primary),  var(--color-text-primary) 52.5%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    z-index: 1;
    animation: moveDown 1.5s ease-in-out 1;
  }
 
  .animated-text-inside {
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
    text-align: center;
    z-index: 2;
    font-size: 1rem;
    color: #dc143c;
  }
  
  @keyframes moveUp {
    0%,
    100% {
      top: 0;
    }
  
    50%,
    70% {
      top: -45px;
    }
  }
  
  @keyframes moveDown {
    0%,
    100% {
      top: 0;
    }
  
    50%,
    70% {
      top: 30px;
    }
  }
  

.hero-text-container p:nth-child(3) {
    display: flex;
    column-gap: 20px;
    font-size: 25px;
    margin-bottom: 60px;
    color: var(--color-text-primary);
}

.hero-text-container a {
    padding: 18px 25px;
    background-color: var(--color-primary);
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    border-radius: 10px;
}


@media screen and (max-width: 992px) {
    .hero-text-container h1 {
        font-size: 80px;
    }
}


@media screen and (max-width: 768px) {
    .hero-text-container h1 {
        font-size: 50px;
    }
}


@media screen and (max-width: 576px) {
    .hero-text-container p:nth-child(3) {
        font-size: 18px;
        column-gap: 10px;
    }


    /* .hero-text-container {
        top: 30px;
    } */
}


@media screen and (max-width: 380px) {
    .hero-text-container h1 {
        font-size: 40px;
    }

    .hero-text-container p:first-child {
        font-size: 18px;
    }

    .hero-text-container p:nth-child(3) {
        font-size: 20px;
    }

    .hero-text-container a {
        padding: 18px 10px;
    }

}