
.services-container{
    padding: 0 10%;
    display: flex;
    justify-content:center;
    align-items: start;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 30px;
    margin-top: 50px;

} 
@media screen and (max-width: 1560px) {
    .services-container{
        padding:0 20px;
    }
    
}
