.card-item {
    width: 360px;
    height: 400px;
    cursor: pointer;
  
}


.card-item-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-item-image {
    position: relative;
    width: 360px;
    height: 250px;
    overflow: hidden;
    background-color:var(--color-text-primary);
}

.card-item-image img {
    position: absolute;
    width: 100%;
    height: 250px;
    object-fit:contain;
    transition: 0.4s ease-in-out;
}

.card-item-image img:hover {
    transform: scale(1.1);
}

.card-item-image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 75px;
    bottom: 0;
    z-index: 100;
    background-color:  var(--bg-stack-card);
    clip-path: polygon(80.83% 74.68%, 0% 0%, -2.22% 149.33%, 101.95% 136.67%, 101.95% 0%);
}

.card-item-text {
    width: 100%;
    height: 120px;
    padding: 20px 40px 25px;
    background-color: var(--bg-stack-card);
}

.card-item-text p {
    font-size: 14px;
    color: var( --color-about-text);
    font-family: "Inter";
    display: flex;
    column-gap: 10px;
    align-items: center;
}
.card-item-text p span{
    width: 10px;
    height: 1px;
    background-color: #595959;
}

.card-item-text h3{
    margin-top: 5px;
    font-family: "Dosis";
    font-size: 30px;
    font-weight: 600;
    color: var(--color-text-primary);


}

@media screen and (max-width:675px){
    .card-item {
        width: 80%;
    }
    .card-item-image {
      
        width: 100%;
    }
}
@media screen and (max-width: 475px) {
    .card-item {
        width: 90%;
    }
}

