.loaderContainer {
  position: fixed;
  top: 0;
  left: 2px;
  right: 2px;
  height: 24px;
  /* margin: 0 auto;  */
  width: 100%;
  z-index: 60;
}

.loaderLine {
  width: 0%;
  height: 4px;
  background-color: #3498db;
  position: absolute;
  animation: growRandom 10s ease-in-out infinite;
}

.spinner {
  position: absolute;
  margin-top: 7px;
  margin-left: 5px;
  transform: translateY(-5%);
  font-size: 0.5rem;
  color: #3498db;
  animation: spin 1s linear infinite;
}

/* Random growth keyframes */
@keyframes growRandom {
  0% {
    width: 0%;
  }

  10% {
    width: 20%;
  }

  20% {
    width: 40%;
  }

  30% {
    width: 20%;
  }

  40% {
    width: 30%;
  }

  50% {
    width: 50%;
  }

  70% {
    width: 75%;
  }

  75% {
    width: 80%;

  }

  80% {
    width: 85%
  }

  85% {
    width: 87%;

  }

  89% {
    width: 90%;

  }

  93% {
    width: 91%;
  }

  95% {
    width: 93%;
  }

  98% {
    width: 95%
  }

  100% {
    width: 100%
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}