.techstacks-card {
    display: grid;
    grid-template-rows: 1fr;
    max-width: 400px;
    overflow: hidden;
    cursor: pointer; 
    border-radius: 3px; 
}

.card-content {
    display: flex;
    column-gap: 20px;
    color: var(--color-text-primary);
    background-color: var(--bg-stack-card);
    width: 100%;
    height: 120px;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0 20px 20px;
   

}

.card-content:hover {
    color: var(--color-bg-primary);
    background-color: var(--color-primary);
}
.card-content:active {
    color: var(--color-bg-primary);
    background-color: var(--color-primary);
}
.techstacks-card.active {
   
}

.techstacks-card {
    position: relative;
   
}

.techstack-description {
    position: relative;
    max-height: 0;
    overflow: hidden;
    color: var(--color-text-primary);
    
}
.techstack-description p{
    font-size:20px;
    letter-spacing: 3px;
    line-height:2rem;
}
.techstacks-card.active .techstack-description {
    max-height: 200px;

}

.techstack-icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 85px;
    height: 65px;
    position: relative;
    border-right: 2px solid var(--color-gainsboro);
    padding: 0 20px;

}

.techstack-icon img {
    width: 45px;
    position: absolute;
    object-fit: cover;
}

.active .techstack-name .chevron {
    transform: rotate(90deg);

}

.techstack-name {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.techstack-name p {
    font-size: 24px;
    font-weight: 800;
    font-family: "Dosis";
}
@media screen and (max-width: 869px) {
    .techstacks-card {
        max-width: 100%;
    }
    
}