.contact-section {
    margin-top: 200px;
    display: flex;
    background-color: var(--color-black);
    position: relative;
    bottom: 0;
    height: 100vh;

}

.contact-section::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 100%;
    background-color: var(--color-primary);
    top: 0;
    z-index: 1;
}

.contact-form,
.contact-links {
    flex: 1;
}

.contact-form {
    position: relative;
    padding: 0 5% 0 5%;
    background-color: var(  --color-nero);
}
.contact-form::before {
    content: "";
    height: 120px;
    width: 100%;
    position: absolute;
    top: -100px;
    left: 0;
    background-color: var(--color-nero);
    z-index: 2;
   clip-path: polygon(0 100%, 35% 0, 100% 60px, 100% 100%);

}

.contact-links {
    padding: 0 5% 0 5%;
    margin-top: 150px;
}

.contact-links-container {
    display: flex;
    justify-content: space-between;

}

.contact-quick-links,
.social-contact {
    width: 100%;
}

.contact-quick-links h1 span {
    font-family: "Dosis";
    font-weight: 30px;
    border-bottom: 2px solid var(--color-primary);
    color: #fff;
}

.contact-quick-links ul li {
    list-style: none;
    margin-top: 20px;
}

.contact-quick-links ul li a,
.contact-item .link a {
    text-decoration: none;
    font-family: "Dosis";
    font-weight: 800;
    font-size: 20px;
    color: #cbcbcb;
    cursor: pointer;
}


.social-contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 30px;
}
.contact-item{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}  

.contact-item .image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-nero);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-bottom: 20px;

}

.contact-links p{
    margin-top: 50px;
    text-align: center;
    color: #808080;
    font-size: 20px;

}

@media screen and (max-width: 992px) {
    .contact-section{
        flex-direction: column;
        height: auto;
    }
    .contact-links{
        margin-top: 50px;
    }
    
}
@media screen and (max-width: 576px) {
    .contact-links-container{
        flex-direction: column;
    }
    
}
