.contact-form-container {
    position: relative;

}



.contact-title .title-section {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

}

.contact-title .section-title .title-name {
    color: var(--color-white);
    border-top: 1px solid var(--color-white);
    border-bottom: 1px solid var(--color-white);
}

.contact-title p {
    color: #c9c6c6;
    text-align: center;
    display: block;
    width: 100%;
}

.contact-form-section {
    margin-top: 50px;
}

.contact-form-section .form-text {
    text-align: left;
    margin-top: 10px;
    font-size: 18px;
    color: #cbcbcb;
    transition: all 0.5s ease-in-out;
}

.input-fields {
    display: flex;
    column-gap: 30px;
    margin-bottom: 20px;
}



.input-field {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.input-field .form-control,
.text-area textarea {
    width: 100%;
    height: 50px;
    color: #fff;
    background-color: var(--color-black);
    border: none;
    font-size: 18px;
    padding: 10px 20px;
    outline: none;
}

.text-area,
.text-area textarea {
    width: 100%;
    min-height: 200px;
    height: auto;
}

.text-area textarea {
    height: 100%;
}

.contact-button {
    margin-top: 20px;
}

.contact-button button {
    padding: 10px 45px;
    background-color: var(--color-primary);
    color: #fff;
    font-size: 20px;
    border: none;
}

.contact-button button .loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid var( --color-deep-cerise);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width:576px) {
    .input-fields {
        flex-direction: column;
        row-gap: 20px;
    }

    .input-field {
        width: 100%;
    }
}