.testimonials-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    
}


.testimonials-container {
    margin-top: 50px;
    width: 60%;
}

@media screen and (max-width: 1200px) {
    .testimonials-container {
        width: 90%;
        
    }
}
@media screen and (max-width: 576px) {
    .testimonials-section {
        margin-top: 150px;
    }
    .testimonials-container {
        width: 100%;
        
    }
    .testimonials-section {
        margin-top:calc(30% + 100px);
    }
}