.sliding-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}
.swipper-image{
    display: flex;
    justify-content:center;
    align-items:center;
    position:relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}
.swipper-image img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.swipper-text h2{
    font-size:32px;
    color: var(--color-black);
    font-weight: 800;
    text-align: center;
    font-family: "Dosis";
    line-height: 1.25em;

}
.swipper-text span{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 16px;
    color: var(--color-gray);
    text-align: center;
}
.swipper-text p{
    font-size: 18px;
    color: #393939;
    line-height: 1.75em;
    font-weight: 400;
    text-align: center;
}
@media screen and (max-width: 1200px) {
    .sliding-content{
        width: 90%;
        padding: 0 100px;
    }
}
@media screen and (max-width: 76px) {
    .sliding-content{
        padding: 0 20px;
    }
}
@media screen and (max-width: 576px) {
    .sliding-content{
        width: 100%;
        padding: 0 50px;
    }
}