@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Dosis:wght@200..800&family=Inter:wght@100..900&display=swap');

:root {
    --color-primary: #e9204f;
    --color-bg-primary: #ffffff;
    --color-text-primary: #121212;
    --var-navbar-shadow: rgba(0, 0, 0, 0.2);
    --bg-stack-card: #eff2f7;
    --color-about-text: #333333;
    --color-bg-contact: #f8f8f8;
    --color-contact-greeting-text: #808080;
    --color-quick-links-text: #454545;
    --color-contact-message-text: #1c1c1c;

}



[data-theme="dark"] {
    --color-bg-primary: #000000;
    --color-text-primary: #ffffff;
    --var-navbar-shadow: rgba(255, 255, 255, 0.2);
    --bg-stack-card: #212121;
    --color-about-text: #f8f8f8;
    --color-bg-contact: #141414;
    --color-contact-greeting-text: #f8f8f8;
    --color-quick-links-text: #cbcbcb;
    --color-contact-message-text: #cbcbcb;
}

* {
    padding: 0 0;
    margin: 0 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

body {
    font-family: 'Inter', 'Caveat', 'Dosis', 'Arial', 'sans-serif';
    background-color: var(--color-bg-primary);

}