.languages-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.languages-details {
    display: flex;
    justify-content: space-between;
}
.languages-details p{
    font-weight: 600;
}
.language-level {
    position: relative;
    height: 5px;
    background-color: var( --color-silver);
}

.skill-level .languages-level-bar {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: var(--color-primary);
}