.back-to-top {
    position: fixed;
    
    /* bottom: 20px; */
    top: calc(100vh - 80px);
    right: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s ease-in-out;
    z-index: 1020;

}
.back-to-top.hidden {
    top: calc(-100vh);
}

.back-to-top-icon {
    height: 40px;
    width: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.back-to-top-icon .chevron-top {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: contain;

}